<div class="container">
    
        <label class="form-group" for="input">Where are you?</label>   
        <input id="input" type="text" placeholder="Please enter zipcode or city name..." class="form-control">
    
    <div ng-click="getCoords()" class="press-me">Submit</div>

    <h4>Your local weather in {{loc}}</h4>
    <div class="icon-box">
        <skycon size="iconObj.size" color='iconObj.color' icon='wIcon'></skycon>
    </div>
    
    <div class="currentWeather">
        <p class="temp">{{cTemp | number:0}}&#176;F</p>
        <p class="summary">{{cSummary}}</p>
        <p class="humid">{{cHumidity * 100}}% humidity</p>
        <p class="cloud">{{cCloudCover * 100 | number:0}}% cloud cover</p>
        <p class="cWind">Wind Speed:&nbsp;{{cWind}}mph</p>
    </div>
    
    <div class="forecast">
        <div class="repeats col-md-3" ng-repeat="day in daily" ng-hide="$first">
            <p class="date">{{day.time * 1000 | date:'EEEE'}}</p>
            <p class="ikon">
                <skycon size="dailyCon.size" color='dailyCon.color' icon='day.icon'></skycon>
            </p>
            <p class="dayHigh">Hi:&nbsp;{{day.temperatureMax | number:0}}&#176;F</p>
            <p class="dayLo">Lo:&nbsp;{{day.temperatureMin | number:0}}&#176;F</p>
            <p class="sum">{{day.summary}}</p>
            <p class="chance">{{day.precipProbability * 100 | number:0}}% chance of precipitation</p>
            <p class="dHumid">{{day.humidity * 100 | number:0}}% humidity</p>
            <p class="wind">{{day.windSpeed}}&nbsp;mph winds</p>
        </div>
    </div>

</div>