@import url(http://fonts.googleapis.com/css?family=Cambay:400,700|Cabin:400,700);
$lizard: #AABD8C;
$slate: #353535;
$boulder: #656256;
$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
    background: url('/newWeather/dist/assets/images/weatherbg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #eee;
}


header {
    margin-top: 2em;
    
    .inputLabel {
        font-size: 1.5em;
        margin-top: 4.8em;
        text-align: center;
    }
    
    .skycontainer {
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-family: 'Cabin';
        font-weight: 700;
        font-size: 4em;
    }
    .form-control {
        width: 45%;
        margin: auto;
    }
    .press-me {
        cursor: pointer;
        margin: 1em auto;
        width: 100%;
        padding: 1em;
        text-align: center;
        width: 50%;
        border-radius: 5px;
        font-size: 3ex;
    }
   
}
.press-me, .currentWeather, .repeats {
    background-color: rgba(255, 255, 255, .075);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;  
}

.press-me, .currentWeather, .repeats {
    &:hover {
        background-color: rgba(0, 0, 0, .5);
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        }
}        

.allWeatherData {
    h2 {
        text-align: center;
        font-family: 'Cabin';
    }
}

.currentWeather {
    margin-top: 4em;
    padding: 2ex 1em;
    font-size: 1.5em;
    width: 65%;
    margin: 5ex auto 0;
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    overflow: auto;
    .temp {
        font-size: 3em;
    }
}

.repeats {
    text-align: center;
    margin: 4em 0;
    border: 2ex solid transparent;
    height: 28em;
    padding: 4ex .1em 0;
    background-color: rgba(255, 255, 255, .075);

}


.cold {
    background: url('http://i.imgur.com/gh2udno.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rainy {
    background: url('http://4.bp.blogspot.com/-pmqYDpvMjgk/VGxNlV1Ae5I/AAAAAAAAP5U/XfGMYxh2SQo/s1600/Untitled-1.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cloudy {
    background: url('http://giant.gfycat.com/SophisticatedDefiantAlabamamapturtle.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clearNight {
    background: url('http://i.imgur.com/nV0IVbs.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cloudNight {
    background: url('http://i.minus.com/ibcdIfYEod2vVa.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pCloudyDay {
    background: url('http://i.imgur.com/icapm82.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clearDay {
    background: url('http://i.imgur.com/BaSgARa.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.foggy {
    background: url('http://i.imgur.com/jeCxUjZ.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.windy {
    background: url('http://i.imgur.com/2UjcRHI.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
