body {
    background: url('http://4.bp.blogspot.com/-pmqYDpvMjgk/VGxNlV1Ae5I/AAAAAAAAP5U/XfGMYxh2SQo/s1600/Untitled-1.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
}

.press-me {
    cursor: crosshair;
    margin-top: 1em;
    width: 25%;
    padding: 2em;
    background-color: cornflowerblue;
    text-align: center;
    color: azure;
}

.repeats {
	margin-top: 4em;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
